@using Models
@model ContactInfo

@{
    ViewBag.Title = "Contacts";
}

<section class="contact">
    <header>
        <h3>Name:</h3>
    </header>
    <p>
        <span>@Model.Name</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Phone:</h3>
    </header>
    <p>
        <span>@Model.Telephone</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email:</h3>
    </header>
    <p>
        <span>@Model.Email</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address:</h3>
    </header>
    <p>
        @Model.Address
    </p>
</section>