@using Models
@model IEnumerable<Faculty>

@{
    ViewBag.Title = "Faculties";
}

@foreach (Faculty f in Model)
{
    <h3>@f.Name</h3>
    <div>
        @if (f.Details.Length <= 200) {@f.Details} else {@f.Details.Substring(0,200)}
    </div>
    
    <br>
}